
.tarjetas{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.carousel{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.footer{
    background-color: white;
    
}


body {
    background: linear-gradient(180deg, rgb(9, 44, 121) 23%, rgb(45, 229, 253) 100%); 
    font-family: sans-serif;
        header {
            font: bold 20px; 
            padding-bottom: 220px;
                nav {
                    font-family: sans-serif !important;
                    background: url(/cartapapanoel/imagenes/NUBE-REPE.png) repeat-x left top;
                    min-height: 160px;
                    width: 100%;
                    font-size: large;
                    font-weight: bolder;
                        .logo {
                            width:20%;
                            margin-left: 1%;
                        }
                        .nav-item{
                            margin-right: 1rem;
                        }
                            .nav-item:hover{
                                background-color: #d69b26bd;
                                border-radius: 5px;
                            }
                                .collapse{
                                    background-color: #ffffff9e;
                                    padding: 2px;
                                    text-align: right;
                                }
                } 
        }
    }
                
    
    
            
        